<div class="tasklist-container">
  <h2 class="tasklist-header">Tasklist</h2>
  <input type="text" #searchValue class="tasklist-input" />
  <br /><br />
  <table class="tasklist-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Tasks</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasklist" class="tasklist-item">
        <td class="tasklist-name">{{ task.name }}</td>
        <td class="tasklist-type">{{ task.type }}</td>
        <td class="tasklist-color">{{ task.color }}</td>
        <td>
          <button (click)="deleteTasklist(task.id)" class="tasklist-delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> 
