<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <h4>Mona Shah - N01479948</h4>
    </div>
    {{{body}}}
    <footer>
  <p><a href="mona@gmail.com">mona@gmail.com</a></p>
</footer>
  </body>
</html>