<form method="POST" action="/api/movieform">
  </br>Title<input type="text" name="title" placeholder="Enter title" /></br></br>
  Page No : <input type="text" name="pageno" placeholder="Enter Page No" /></br></br>
  Page Size : <input type="text" name="pagesize" placeholder="Enter Page Size" /></br></br>
  <input type="submit" />
</form>