<form method="POST" action="/api/createbooks">
    <br>ID: <input type="number" name='_id' value='Enter id'> <br> <br>
    Title: <input type="text" name='title' value='Enter title'> <br> <br>
    ISBN: <input type="text" name='isbn' value='Enter isbn'> <br> <br>
    PageCount: <input type="number" name='pageCount' value='Enter pageCount'> <br> <br>
    PublishedDate: <input type="date" name='publishedDate' value='Enter publishedDate'> <br> <br>
    ThumbnailUrl: <input type="text" name='thumbnailUrl' value='Enter thumbnailUrl'> <br> <br>
    ShortDescription: <input type="text" name='shortDescription' value='Enter shortDescription'> <br> <br>
    LongDescription: <input type="text" name='longDescription' value='Enter longDescription'> <br> <br>
    Status: <input type="text" name='status' value='Enter status'> <br> <br>
    Authors: <input type="text" name='authors' value='Enter authors'> <br> <br>
    Categories: <input type="text" name='categories' value='Enter categories'> <br> <br>
    <input type="submit" name='submit' value='Submit'> <br> <br>
</form>